<template>
  <div class="<%= data.lowerName %>">
    <div>
      {{message}}
    </div>
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    props: {
      msg: String
    },
    component: {

    },
    mixins: [],
    data() {
      return {
        message: "<%= data.lowerName %>"
      }
    },
    computed: {

    },
    created() {

    },
    mounted() { },
    methods: {

    }
  }
</script>

<style scoped>
  .<%= data.lowerName %> {
    color: red;
  }
</style>
